body {
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
}

.kpop, .random-img {
    width: 90%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px violet;
}

.btn, .btn2 {
    background: violet;
    padding: 12px 20px;
    border-radius: 10px;
    color: black;
    margin-top: 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.glow {
    margin-top: 30px;
    color: #ff87ff;
    text-shadow: 0 0 20px #ff00ff;
}

.list {
    text-align: left;
    margin: 20px auto;
}

.list li {
    margin: 10px 0;
}

#message {
    font-size: 20px;
    margin-top: 20px;
    color: pink;
    text-shadow: 0 0 10px hotpink;
}